.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 200px;
}

.navbarMenu {
  display: flex;
  list-style: none;
  gap: 24px;
  color: #49557e;
  font-size: 18px;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  color: #49557e;
  border: 1px solid tomato;
  padding: 12px 32px;
  border-radius: 50px;
  cursor: pointer;
  transition: .5s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
  padding-bottom: 2px;
  border-bottom: 3px solid tomato;
  font-weight: 600;
}

.navbar li{
  cursor: pointer;
}

.navBarSearchIcon{
  position: relative;
}

.navBarSearchIcon .dot{
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px; 
}
